/* ## Colors

### Primary

- Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
- Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
- Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
- Light Red (Discount Text): hsl(15, 100%, 70%)
- Pale Blue (CTA Text): hsl(226, 100%, 87%)

### Neutral

- White (Pricing Component Background): hsl (0, 0%, 100%)
- Very Pale Blue (Main Background): hsl(230, 100%, 99%)
- Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
- Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
- Grayish Blue (Text): hsl(225, 20%, 60%)
- Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)

## Typography

### Body Copy

- Font size (Introductory Paragraph): 15px
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  font-family: "Manrope", sans-serif;

  height: 100vh;
  font-size: 62.5%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: hsl(230, 100%, 99%);
  color: hsl(225, 20%, 60%);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 9rem;
  margin: 3rem 0;
  line-height: 2rem;
  font-size: 1rem;
}
.headline {
  color: hsl(227, 35%, 25%);
}

.paragraph {
  margin-top: 1rem;
}

.Pageviews {
  display: flex;
  gap: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 15px hsl(227, 25%, 85%);
  min-width: 35rem;
  min-height: 20rem;
  border-radius: 5px;
  font-size: 1rem;
  padding: 2rem;
}

.price-section {
  display: flex;
  min-width: 28rem;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  align-items: center;
  justify-content: space-between;
}

.pricing {
  display: flex;
  align-items: center;
}

.price {
  color: hsl(227, 35%, 25%);
  font-size: 3rem;
  font-weight: bold;
}

.slider {
  position: relative;
  height: 20px;
}

.slider input[type="range"] {
  width: 100%;
  min-width: 28rem;
}

.myrange {
  appearance: none;
  background-color: hsl(224, 65%, 95%);
  height: 10px;
  border-radius: 5px;
  outline: none;
}

.myrange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: hsl(174, 86%, 45%);
  border-radius: 50%;
  cursor: pointer;
}

.myrange::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 10px hsl(174, 86%, 45%);
}

.billing {
  min-width: 28rem;
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;
  font-size: 0.8rem;
  justify-content: flex-end;
  padding-right: 1rem;
}

.discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  border-radius: 5px;
  padding: 2px 5px;
  font-weight: bold;
}

.switch {
  position: relative;
  height: 20px;
  width: 40px;
  display: inline-block;
  background-color: hsl(223, 50%, 87%);
  border-radius: 20px;
  cursor: pointer;
}

.switch input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  opacity: 0;
}

.toggle-slider {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  transition: all 0.5s;
  top: 1.5px;
  left: 1px;
}

.switch input:checked + .toggle-slider {
  transform: translateX(22px);
}

.billing:has(input:checked) .switch {
  background-color: hsl(174, 86%, 45%);
}

.list1,
.list2,
.list3 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.trial img {
  width: 10px;
  height: 10px;
}

.trial {
  border-top: 2px solid hsl(224, 65%, 95%);
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  min-width: 28rem;
}

.trial-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 0.8rem;
}

.btn {
  margin-top: 2rem;
  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 188%, 87%);
  border: none;
  border-radius: 20px;
  padding: 0.7rem 3.2rem;
  align-self: center;
  font-weight: 600;
}

.pricing-media {
  display: none;
}

.discount-media {
  display: none;
}

@media (max-width: 600px) {
  .pricing {
    display: none;
  }
  .discount {
    display: none;
  }
  .pricing-media {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .discount-media {
    display: flex;
  }

  .price-section {
    flex-direction: column;
    min-width: 10rem;
  }

  .billing {
    justify-content: center;
    gap: 1rem;
    min-width: 10rem;
    font-size: 0.7rem;
  }

  .trial {
    flex-direction: column;
    min-width: 5rem;
  }

  .container {
    min-width: 10rem;
    padding: 1rem;
  }
  .slider input[type="range"] {
    width: 100%;
    min-width: 17rem;
  }
  .header {
    flex-wrap: wrap;
    margin: 0 3rem;
    font-size: 0.6rem;
  }
  .paragraph {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
  }
}
